@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #FCFBFF;
    --violet-button-fill: #652BDF;
    --violet-font-button: #652BDF;
    --primary-font-color: #2B2B2B;
    --secondary-font-color: #6A6A6A;
    --third-font-color: #454545;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
}
.header__mobile{
    display: none;
}
.header__desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
}

.header__desktop-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    height: 82px;
    background: hsla(0, 0%, 100%, .8);
}
.header__desktop-logo{
    max-height: 37px;
    max-width: 140px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-menu li{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 41px;
    font-weight: 700;
    color: var(--primary-font-color);
}

.header__nav-decorator{
    background-color: #bebebe;
    width: 1px;
    height: 24px;
}

.header__nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 2px;
}

.header__nav-links a{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 44px;
    font-weight: 700;
    border: 1px solid var(--violet-font-button);
    width: 160px;
    border-radius: 50px;  
}

.header__nav-link-blog{
    background-color: white;
    color: var(--violet-font-button);
}

.header__nav-link-login{
    background-color: var(--violet-button-fill);
    color: white;
}
