@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #FCFBFF;
    --violet-button-fill: #652BDF;
    --violet-font-button: #652BDF;
    --primary-font-color: #2B2B2B;
    --secondary-font-color: #6A6A6A;
    --third-font-color: #454545;
    --background-button-color: rgb(54, 12, 114);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
}
.header__mobile{
    display: none;
}
.header__desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
}

.header__desktop-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    height: 82px;
    background: hsla(0, 0%, 100%, .8);
}
.header__desktop-logo{
    max-height: 37px;
    max-width: 140px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-menu li{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 41px;
    font-weight: 700;
    color: var(--primary-font-color);
}

.header__nav-decorator{
    background-color: #bebebe;
    width: 1px;
    height: 24px;
}

.header__nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 2px;
}

.header__nav-links a{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 44px;
    font-weight: 700;
    border: 1px solid var(--violet-font-button);
    width: 160px;
    border-radius: 50px;  
}

.header__nav-link-blog{
    background-color: white;
    color: var(--violet-font-button);
}

.header__nav-link-login{
    background-color: var(--violet-button-fill);
    color: white;
}

.main{
    max-width: 1280px;
    display: block;
    width: 100%;
    
}

section{
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
}

.main__cards-title{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1022px;
    margin: 8px 0px;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-font-color);
    letter-spacing: -.045em;
    line-height: 2.625rem;
    margin-bottom: 32px;
}

.main__cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1022px;
}
.main__cards-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    max-width: 1022px;
    margin-bottom: 32px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 16px;
    width: 100%;
    min-width: 316px;
    border-radius: 16px;
    margin-top: 12px;
    min-height: 213px;
    background-color: white;
}
.card__img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    width: 62px;
    height: 62px;
    background: #f0eafc;
    border-radius: 8px;
}

.card__title{
    font-size: 24px;
    color: var(--primary-font-color);
    font-weight: 600;
    line-height: 1.625rem;
    margin: 0;
    height: 100%;
    min-height: 28px;
}
.card__description{
    font-size: 18px;
    color: var(--secondary-font-color);
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.banner{
    border-radius: 32px;
    padding: 32px 64px;
    gap: 32px;
    display: flex;
    width: 100%;
    max-width: 1022px;
    background-color: var(--background-button-color);
    height: 147px;
    justify-content: center;
    align-items: center;
}

.banner__text{
    color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 670px;
    height: 83px;
    gap: 16px;
}

.banner__title{
    letter-spacing: -.045em;
    font-weight: 600;
    font-size: 30px;
    line-height: 2rem;
    margin: 0;
}

.banner__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
}

.banner__button{
    color: var(--violet-font-button);
    background-color: white;
    padding: 10px 32px;
    width: auto;
    min-width: 192px;
    min-height: 52px;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    margin: 0;
    border-radius: 50px;
}

.main__collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main__collection__title{
    display: block;
    width: 100%;
    max-width: 1022px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 2.625rem;
    letter-spacing: -.045em;
    margin: 8px 0;
    color: var(--primary-font-color);
}

.main__collection__description{
    display: block;
    width: 100%;
    max-width: 1022px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-font-color);
}

.main__collection__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1022px;
    border-radius: 32px;
    margin-bottom: 48px;
}

.main__collection__card-reverse{
    flex-direction: row-reverse;
}

.main__collection__card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px 24px;
    width: auto;
    min-width: 50%;
    max-width: 511px;
}

.main__collection__card-title{
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -.045em;
    line-height: 2rem;
    color: var(--primary-font-color);
}

.main__collection__card-description{
    font-size: 100%;
    font-weight: 400;
    height: 54px;
    color: var(--primary-font-color);
    margin-bottom: 16px;
}

.main__collection__card-button{
    color: white;
    background-color: var(--violet-button-fill);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: .02857em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px 32px;
    width: auto;
    max-width: 162px;
    min-height: 52px;
    border: 1px solid transparent;
    margin-top: 70px;
}

.main__collection__card-img{
    display: flex;
    width: 50%;
}

.main__collection__card-img img{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F9F9F9;
    padding: 32px 0;
}
