@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #FCFBFF;
    --violet-button-fill: #652BDF;
    --violet-font-button: #652BDF;
    --primary-font-color: #2B2B2B;
    --secondary-font-color: #6A6A6A;
    --third-font-color: #454545;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.header__mobile{
    display: none;
}

.header__desktop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1022px;
    padding: 16px;
    height: 50px;
    background-color: white;
}