@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #FCFBFF;
    --violet-button-fill: #652BDF;
    --violet-font-button: #652BDF;
    --primary-font-color: #2B2B2B;
    --secondary-font-color: #6A6A6A;
    --third-font-color: #454545;
    --background-button-color: rgb(54, 12, 114);
    --background-color-hover: #E4D7FF;
    --hover-font-button: #360C99;
    --hover-font-button-main: rgb(228, 215, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: rgb(251, 251, 251);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header__mobile{
    display: none;
}
.header__desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1022px;
    margin-left: auto;
    margin-right: auto;
}

.header__desktop-nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 16px;
    height: 82px;
    background: hsla(0, 0%, 100%, .8);
}
.header__desktop-logo{
    max-height: 37px;
    max-width: 140px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header__nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-menu li{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 41px;
    font-weight: 700;
    color: var(--primary-font-color);
}

.header__nav-menu li:hover{
    background-color: var(--background-color-hover);
    cursor: pointer;
    color: var(--hover-font-button);
    border-radius: 50px;
}


.header__nav-decorator{
    background-color: #bebebe;
    width: 1px;
    height: 24px;
}

.header__nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    gap: 2px;
}

.header__nav-links a{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 44px;
    font-weight: 700;
    border: 1px solid var(--violet-font-button);
    width: 160px;
    border-radius: 50px;  
}

.header__nav-link-blog{
    background-color: white;
    color: var(--violet-font-button);
}

.header__nav-link-blog:hover{
    background-color: var(--background-color-hover);
    cursor: pointer;
    color: var(--hover-font-button);
}


.header__nav-link-login{
    background-color: var(--violet-button-fill);
    color: white;
}

.header__nav-link-login:hover{
    background-color: var(--background-color-hover);
    cursor: pointer;
    color: var(--hover-font-button);
}

.main{
    max-width: 1280px;
    display: block;
    width: 100%;
    
}

section{
    width: 100%;
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: border-box;
}

.main__cards{
    margin-bottom: 64px;
}

.main__cards-title{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1022px;
    margin: 8px 0px;
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-font-color);
    letter-spacing: -.045em;
    line-height: 2.625rem;
    margin-bottom: 32px;
}

.main__cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1022px;
}
.main__cards-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    width: 100%;
    max-width: 1022px;
    margin-bottom: 32px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
    gap: 16px;
    width: 100%;
    min-width: 316px;
    border-radius: 16px;
    margin-top: 12px;
    min-height: 213px;
    background-color: white;
    transition: transform .3s ease-out;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: none;
    cursor: default;
}

.card__img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px;
    width: 62px;
    height: 62px;
    background: #f0eafc;
    border-radius: 8px;
}

.card__title{
    font-size: 24px;
    color: var(--primary-font-color);
    font-weight: 600;
    line-height: 1.625rem;
    margin: 0;
    height: 100%;
    min-height: 28px;
}
.card__description{
    font-size: 18px;
    color: var(--secondary-font-color);
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
.banner{
    border-radius: 32px;
    padding: 32px 64px;
    gap: 32px;
    display: flex;
    width: 100%;
    max-width: 1022px;
    background-color: var(--background-button-color);
    justify-content: center;
    align-items: center;
}

.banner__text{
    color: white;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 670px;
    height: 83px;
    gap: 16px;
}

.banner__title{
    letter-spacing: -.045em;
    font-weight: 600;
    font-size: 30px;
    line-height: 2rem;
    margin: 0;
}

.banner__description{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.375rem;
}

.banner__button{
    color: var(--violet-font-button);
    background-color: white;
    padding: 10px 32px;
    width: auto;
    min-width: 192px;
    min-height: 52px;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid transparent;
    margin: 0;
    border-radius: 50px;
}

.banner__button:hover{
    background-color: black;
    cursor: pointer;
    color: var(--hover-font-button-main);
}
.main__collection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.main__collection__title{
    display: block;
    width: 100%;
    max-width: 1022px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 2.625rem;
    letter-spacing: -.045em;
    color: var(--primary-font-color);
    margin-top: 8px;
    margin-bottom: 24px;
}

.main__collection__description{
    display: block;
    width: 100%;
    max-width: 1022px;
    margin-bottom: 48px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-font-color);
}

.main__collection__card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1022px;
    border-radius: 32px;
    margin-bottom: 48px;
    background-color: white;
}

.main__collection__card-reverse{
    flex-direction: row-reverse;
}

.main__collection__card-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 32px 24px;
    width: auto;
    min-width: 50%;
    max-width: 511px;
}

.main__collection__card-title{
    margin-bottom: 24px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -.045em;
    line-height: 2rem;
    color: var(--primary-font-color);
}

.main__collection__card-description{
    font-size: 100%;
    font-weight: 400;
    height: 54px;
    color: var(--primary-font-color);
    margin-bottom: 16px;
}

.main__collection__card-button{
    color: white;
    background-color: var(--violet-button-fill);
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: .02857em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    padding: 10px 32px;
    width: auto;
    max-width: 162px;
    min-height: 52px;
    border: 1px solid transparent;
    margin-top: 70px;
}

.main__collection__card-button:hover{
    text-decoration: none;
    background-color:  var(--background-button-color);
    transition: 0.4s ease-in-out;
    cursor: pointer;
}
.main__collection__card-img{
    display: flex;
    min-width: 50%;
    overflow: hidden;
}

.main__collection__card-img:hover{
    transform: scale(1.05);
    transition: transform .4s ease;
    transform-origin: 50% 50%;
}

.main__collection__card-img img{
    display: flex;
    width: 100%;
    height: 100%;
}

.footer{
    display: block;
    width: 100%;
    max-width: 1042px;
    padding-bottom: 32px;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.footer__logo{
    display: block;
    width: 100%;
    height: 44px;
    margin-top: 10px;
}
.footer__links-container{
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin-top: 10px;
    border-bottom: 1px solid #bebebe;
    padding-bottom: 32px;
}

.footer__links-title{
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;
    color: var(--primary-font-color);
}

.footer__links__list-item{
    margin-top: 8px;
    margin-bottom: 8px;
}

.footer__links__list-item a{
    font-size: 14px;
    line-height: 1.5rem;
    font-weight: 400;
    color: var(--third-font-color);
}
.footer__links__list-item a:hover{
    text-decoration: underline;
    cursor: pointer;
    color: var(--violet-font-button)
}

@media screen and (max-width: 991px) {

    .header__desktop{
        display: none;
    }

    .header__mobile{
    background: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    min-height: 72px;
    }

    .header__mobile-menu-icon{
        position: absolute;
        left: 24px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__mobile-menu-icon svg{
        width: 24px;
        height: 24px;
        fill: #333333;
    }

    .header__mobile-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        width: 42px;
    }

    section{
        margin-left: 0 auto;
    }

    .main__cards-title{
        margin-bottom: 32px;
        font-size: 30px;
        line-height: 2.25rem;
    }
    
    .main__cards-list{
        margin-bottom: 32px;
    }

    .card{
        max-width: max-content;
        width: 30%;
        min-width: 200px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: auto;
    }

    .card__title{
        font-size: 20px;
    }

    .card__description{
        font-size: 16px;
    }

    .main__collection__title{
        margin: 0 0 16px 0;
        font-size: 30px;
        line-height: 2.25rem;
    }

    .main__collection__description{
        font-size: 14px;
        margin-bottom: 45px;
    }

    .main__collection__card-content{
        padding: 32px 24px;
        width: auto;
        min-width: 50%; 
    }
    .main__collection__card-title{
        font-size: 30px;
        line-height: 34px;
        margin-top: 27px;
    }

    .main__collection__card-description{
        font-size: 16px;
        line-height: normal;
        height: auto;
        gap: 12px;
        margin-bottom: 50px;
    }

    .main__collection__card-button{
        margin-top: 32px;
    }
}