@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --background-color: #FCFBFF;
    --violet-button-fill: #652BDF;
    --violet-font-button: #652BDF;
    --primary-font-color: #2B2B2B;
    --secondary-font-color: #6A6A6A;
    --third-font-color: #454545;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}
.header__mobile{
    display: none;
}

.header__desktop{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1022px;
    padding: 16px;
    height: 50px;
    background-color: white;
}

.header__desktop-logo{
    height: 37px;
    width: 140px;
}

.header__nav{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header__nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav-menu li{
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    height: 42px;
    font-weight: 700;
    color: var(--primary-font-color);  
}

.header__nav-decorator{
    background-color: #bebebe;
    width: 1px;
    height: 24px;
}